table,
th,
td {
  border: 1px solid grey;
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
}

.cell {
  padding: 0;
  box-sizing: border-box;
}
.selectedCell {
  background-image: linear-gradient(135deg, orange, orange 5px, transparent 5px, transparent);
}
.inputDisplay {
  outline: none;
  border: none;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
